@font-face {
    font-family: 'MapoBackpacking';
    font-style: normal;
    font-weight: 400;
    src: url(../form/font/MapoBackpacking.ttf);
}

//font

$mapo_back : 'MapoBackpacking';
$fontBlk : #333;
$fontGray : #999;
$fontWhite : #fff;

//mp



//color

$commonBorder : 1px solid #EAEAEA;

//size

$mainWid : 1600px;
$mainWidH : -800px;
$mainHeight : 800px;
$mainHeightH : -400px;